<main class="app-wrapper">
  <h2>Enter the number of strategies</h2>
  <div class="app-inputs">
    <app-dimension-input
      [(value)]="numberOfRows"
      label="First player"
    ></app-dimension-input>

    <app-dimension-input
      [(value)]="numberOfColumns"
      label="Second player"
    ></app-dimension-input>
  </div>
  @if(numberOfRows && numberOfColumns){
  <app-matrix-table [columns]="numberOfColumns" [rows]="numberOfRows" />
  <app-dimension-input
    [(value)]="startingStrategy"
    label="Starting Strategy"
  ></app-dimension-input>
  <app-dimension-input
    [(value)]="iterationSteps"
    label="Steps"
  ></app-dimension-input>
  } @if(isResultAvailable){
  <app-iteration-matrix [data]="calculationResults"></app-iteration-matrix>
  }
  <div class="app-buttons-container">
    <button
      mat-stroked-button
      color="primary"
      [disabled]="!startingStrategy || !iterationSteps"
      (click)="isResultAvailable ? restartApplication() : getResult()"
    >
      {{ isResultAvailable ? "Restart" : "Calculate" }}
    </button>
    @if(isResultAvailable){
    <button mat-flat-button color="primary" (click)="openLogs()">
      Show logs
    </button>
    }
  </div>
</main>
