<main class="app-wrapper">
  <h2>Enter the number of strategies</h2>

  <div class="app-inputs">
    <app-dimension-input
      [(value)]="rows"
      label="First player"
    ></app-dimension-input>

    <app-dimension-input
      [(value)]="columns"
      label="Second player"
    ></app-dimension-input>
  </div>

  @if(rows && columns){
  <app-matrix-table [columns]="columns" [rows]="rows" />
  <app-dimension-input
    [(value)]="firstStrategy"
    label="First Strategy"
  ></app-dimension-input>
  <app-dimension-input [(value)]="steps" label="Steps"></app-dimension-input>

  } @if(hasResult){
  <app-iteration-matrix [data]="dataSource"></app-iteration-matrix>

  <mathjax [content]="this.loggerText"></mathjax>
  }

  <button
    class="app-button"
    mat-flat-button
    color="primary"
    [disabled]="!firstStrategy || !steps"
    (click)="hasResult ? restartApplication() : getResult()"
  >
    {{ hasResult ? "Restart" : "Calculate" }}
  </button>
</main>
