<main class="app-wrapper">
  <h1>Enter the number of strategies</h1>
  <app-dimension-input
    [(value)]="rows"
    label="First player"
  ></app-dimension-input>
  <app-dimension-input
    [(value)]="columns"
    label="Second player"
  ></app-dimension-input>

  @if(rows && columns){
  <app-matrix-table [columns]="columns" [rows]="rows" />
  }

  <h1>Calculate result</h1>
  <button
    class="app-button"
    mat-flat-button
    color="primary"
    (click)="getResult()"
  >
    Calculate
  </button>
</main>
